body {
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    position: fixed;
    z-index: -100;
    display: block;
    margin-top: -15px;
    background-image: url("https://upload-os-bbs.hoyolab.com/upload/2024/02/10/17138284/966d24a314eab25030f70dc295c8db6a_3773521663887643236.png?x-oss-process=image%2Fresize%2Cs_1000%2Fauto-orient%2C0%2Finterlace%2C1%2Fformat%2Cwebp%2Fquality%2Cq_70");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 110vw;
    height: 110vh;
    filter: blur(4px);
}