.header {
    margin-left: 10px;
    height: 65px;
    /* border: red solid 1px; */
}

.header img {
    height: 90px;
    width: 180px;
    /* border: purple solid 1px; */
}

.top {
    display: flex;
}

.top h1{
    padding-top: 30px;
    min-width: 331px;
    color: white;
}